.bd-cake {
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cake {
  width: 200px;
  height: 50px;
  border-radius: 40%;
}

.circle-1 {
  background-color: bisque;
  position: relative;
  top: 60px;
  z-index: 1;
}
.circle-2 {
  background-color: red;
  position: relative;
  top: 30px;
}
.circle-3 {
  background-color: blue;
}

.bd-candle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.candle {
  height: 50px;
  width: 7px;
  border-radius: 20% 20% 0 0;
  background-color: green;
}
.fire {
  height: 15px;
  width: 10px;
  border-radius: 100% 100% 55% 55%;
  background-color: orange;
  position: relative;
  top: -65px;
}
